<h2 class="page-title"><%= book.title %></h2>
<img widht="100" height="150" src="<%= book.coverImagePath %>" />

<label>Author</label>
<p><%= author.name %></p>

<label>Publish Date</label>
<p><%= book.publishDate.toISOString().split('T')[0] %></p>

<label>Page Count</label>
<p><%= book.pageCount %></p>

<label>Description</label>
<p><%= book.description %></p>

<div class="btn-row">
  <a class="btn btn-primary" href="/books/<%= book.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm', {url: `/books/${book.id}` }) %>
</div>
<a href="/authors/<%= book.author %>">View Author</a>
