<h2 class="page-title"><%= book.title %></h2>
<div class="book-show-container">
  <div class="book-display-container-small">
    <img src="<%= book.coverImagePath %>" />
    <div class="book-details-btn-grid">
      <a class="btn btn-primary" href="/books/<%= book.id %>/edit">Edit</a>
      <%- include('../partials/deleteForm', {url: `/books/${book.id}` }) %>

      <a
        class="btn btn-primary book-details-author-btn"
        href="/authors/<%= book.author %>"
        >View Author</a
      >
    </div>
  </div>

  <div class="book-description">
    <label class="book-label">Author: </label>
    <div><%= author.name %></div>

    <label class="book-label">Publish Date: </label>
    <div><%= book.publishDate.toISOString().split('T')[0] %></div>

    <label class="book-label">Page Count: </label>
    <div><%= book.pageCount %></div>

    <% if(book.description != null && book.description != '') { %>
    <label class="book-label">Description: </label>
    <div><%= book.description %></div>
    <% } %>
  </div>
</div>
