<h2 class="page-title">Authors</h2>

<% authors.forEach(author => { %>
<div class="author-row">
  <a class="author-name" href="/authors/<%= author.id %>"
    ><h2><%= author.name %></h2></a
  >
  <div class="btn-row">
    <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
    <a class="btn btn-primary" href="/authors/<%= author.id %>">View</a>
    <%- include("../partials/deleteForm", {itemToDelete:author.name ,url:
    `/authors/${author.id}`}) %>
  </div>
</div>
<% }) %> <% if(authors.length == 0) { %> <%- include("../partials/emptyPage") %>
<% } %>
