<h2 class="page-title"><%= author.name %></h2>
<div class="btn-row">
  <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a> <%-
  include('../partials/deleteForm', {itemToDelete:author.name, url:
  `/authors/${author.id}`}) %>
</div>
<br />
<% if(books.length > 0) { %>
<h2>Published book:</h2>
<div class="book-grid">
  <% books.forEach( book => { %>
  <div class="book-display-container">
    <a href="/books/<%= book.id %>">
      <img src="<%= book.coverImagePath %>" />
      <h2><%= book.title %></h2>
    </a>
  </div>
  <% }) %>
</div>
<% } %>
